body {
    font-family: 'Fira Mono', monospace;
    height: 100vh;
    font-size: 12px;
    margin: 0 auto;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    height: 5vh;
    color: azure;
    padding: 10px;
}

.header .title {
    font-size: 2em;
}

.main_container {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_post {
    background-color: whitesmoke;
    border-color: silver;
    border-radius: 5px;
    max-width: 75%;
    box-shadow: 2px 4px #888888;
    padding: 12px;

}

.main_post .post_title {
    text-align: center;
}

.main_post .post_footer {
    border-top: 1px outset #534d4d6c;
    font-size: 0.7em;
    margin-top: 30px;
    padding: 10px;
}

.subheader {
    height: 40vh;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    background-color: #eeeeee;
    justify-content: center;
    align-items: center;
}
.subheader > img {
    max-height: 100%;
    object-fit: scale-down;
    flex-grow: 1;
}

.subheader .logo_text {
    font-size: 2rem;
    text-align: left;
    flex-grow: 3;
}
.subheader > * {
    display: flex;
    flex-direction: column;
    flex: 1;
  }


