body {
    font-family: 'Fira Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main_container {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: silver;
    border-radius: 5px;
    box-shadow: 5px 8px #888888;

}

.title {
    padding: 2rem;
}

